@import "intialize.scss";

@mixin blackof {background-color: black;}
@mixin center{
   text-align: center;
}
@mixin buttoncenter{
    align-items: center
}

body{
    @include blackof;
    color: aliceblue;
}
.forcenter{
    @include center
}
.divbutton{
    @include center
    
}
.shadow__btn {
    padding: 8px 16px;
    border: none;
    font-size: 12px;
    color: #fff;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
    background: rgb(0,140,255);
    box-shadow: 0 0 25px rgb(0,140,255);
  }
  

  
  .shadow__btn:hover {
    box-shadow: 0 0 5px rgb(0,140,255),
                0 0 25px rgb(0,140,255),
                0 0 50px rgb(0,140,255),
                0 0 100px rgb(0,140,255);
  }
